body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100vw;
  box-sizing: border-box;
}
.navbar {
  background-color: rgba(42, 43, 42, 0.993);
}
.nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle div {
  padding-right: 15px;
}

.vl {
  border-left: 1px solid white;
  height: 50px;
}
.rightIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a img {
  padding-right: 20px;
}
.landing {
  width: 100vw;
  height: 96vh;
  filter: brightness(60%);
  position: relative;
}
.caption {
  position: absolute;
  top: 30%;
  left: 27.5%;
  color: white;
  width: 45%;
  text-align: center;
}
.title {
  font-size: 5.5vw;
  font-weight: 400;
}
.description {
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  width: 18%;
}

.arrow {
  position: absolute;
  top: 70%;
  left: 47.5%;
}
.carousel-indicators {
  position: absolute;
  top: 84%;
}
.carousel-indicators > li {
  border-radius: 50%;
  cursor: pointer;
}
.carousel-indicators li {
  width: 9px;
  height: 9px;
  margin: 9px;
  border: 1px solid white;
  right: 20%;
}
.carousel-indicators a:visited {
  background-color: white;
}
.second_wrapper {
  height: 100%;
  width: 100vw;
  background-color: rgb(37, 37, 37);
  color: white;
  background-image: url('../images/1.svg');
}
.second_part {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  width: 40%;
  margin-top: 150px;
  margin-bottom: 60px;
}
.leftHead {
  color: rgb(141, 101, 14);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}
.rightSide {
  width: 50%;
  margin-top: 60px;
}
.image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 75%;
  }
  .middle,
  .instagram,
  .face {
    display: none;
  }
  .landing {
    object-fit: cover;
  }
  .caption {
    top: 40%;
    left: 10%;
    color: white;
    width: 80%;
    text-align: center;
  }
  .title {
    font-size: 11vw;
    font-weight: 400;
  }
  .description {
    font-size: 3.5vw;
  }
  hr {
    width: 15%;
    align-items: center;
  }
  .arroww {
    top: 75%;
    left: 45%;
  }
  .second_part {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .rightSide {
    width: 100%;
    margin-top: 60px;
  }
  .image {
    width: 100%;
  }
  .leftSide {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
